@page
@using static Globoticket.Web.Pages.IndexModel
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@model IndexModel

@{
    var RequestCultureInfo = HttpContext.Features.Get<IRequestCultureFeature>();
}

<div class="text-center mb-3">
    <h1 class="display-4">@Model.Title</h1>
</div>

<div class="alert alert-info col-12" role="alert">
    Current culture: @RequestCultureInfo?.RequestCulture.Culture <br>
    Current UI culture: @RequestCultureInfo?.RequestCulture.UICulture
</div>

@if (!string.IsNullOrEmpty(Model.Message)) {
<div class="alert alert-success col-12" role="alert">
    @Model.Message
</div>
} else {
<form class="row g-3" method="post" action="">
    <div class="input-group mb-3">
        <span class="input-group-text bi bi-calendar" id="eventdate-addon"></span>
        <div class="form-floating col-11">
            <input type="date" class="form-control" name="eventdate" id="eventdate" placeholder="Event date" value="@DateTime.Now.ToShortDateString()" aria-label="Event date" aria-describedby="eventdate-addon">
            <label for="eventdate">Event date</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text bi bi-map" id="category-addon"></span>
        <div class="form-floating col-11">
            <select class="form-select" name="category" id="category" aria-label="Category" aria-describedby="category-addon">
                <option value="">Choose a seat category</option>
                @foreach (KeyValuePair<int, Category> category in Model.CategoriesWithPrices)
                {
                    <option value="@category.Key">@category.Value.Description ($@category.Value.Price)</option>    
                }
            </select>
            <label for="category">Category</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text bi bi-ticket-detailed" id="amount-addon"></span>
        <div class="form-floating col-11">
            <input type="number" class="form-control" name="amount" id="amount" placeholder="Enter number of tickets" aria-label="Number of tickets" aria-describedby="amount-addon">
            <label for="amount">Number of tickets</label>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Order</button>
    </div>
</form>
}